cs-material-recommendation-papi-v1-1.0.1-mule-application/src/main/mule/cs-material-recommendation-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="cs-material-recommendation-papi-main">
        <http:listener config-ref="listener_configuration" path="/api/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="var: timestamp, correlationId,initialPayload" doc:id="795801fe-1fa4-4bbf-826c-105795d9dd94">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="timestamp"><![CDATA[%dw 2.0
output application/json
---
now() as Number {unit: 'milliseconds'}]]></ee:set-variable>
                <ee:set-variable variableName="correlationId"><![CDATA[%dw 2.0
output application/json
---
attributes.headers."x-correlation-id" default correlationId]]></ee:set-variable>
                <ee:set-variable variableName="initialPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <apikit:router config-ref="cs-material-recommendation-papi-config" />
        <error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\work-orders\material-recommendations:application\json:cs-material-recommendation-papi-config">
        <logger level="INFO" doc:name="START" doc:id="30623bd0-daec-482d-93a2-3c7af468da72" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;    &quot;correlationId&quot;: vars.correlationId,&#xA;    &quot;appName&quot;: app.name,&#xA;    &quot;flow&quot;: flow.name,&#xA;    &quot;message&quot;: &quot;Start of flow &quot; ++ flow.name,&#xA;    &quot;timestamp&quot;: now(),&#xA;}]" />
        <flow-ref doc:name="cs-material-recommendation-subflow" doc:id="0b303283-bc42-4139-a172-5d7a3ab5207c" name="cs-material-recommendation-subflow" />
        <logger level="INFO" doc:name="END" doc:id="4659cb1d-6783-474c-be85-254327f33ebb" message="#[%dw 2.0&#xA;output application/json&#xA;---&#xA;{&#xA;    &quot;correlationId&quot;: vars.correlationId,&#xA;    &quot;appName&quot;: app.name,&#xA;    &quot;flow&quot;: flow.name,&#xA;    &quot;message&quot;: &quot;End of flow &quot; ++ flow.name,&#xA;    &quot;timestamp&quot;: now(),&#xA;}]" />
    </flow>
</mule>
